.header {
  font-size: 18px;
  font-weight: 600;

  margin-bottom: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.spinner {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border: 4px solid #ccc;
  border-top-color: #505050;
  animation: spinner 950ms linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}